@charset "UTF-8";

span.title_text01 {
	font-size: 80px;
	color: #31352E;
	font-family: Arial;
	font-weight: bold;
}

span.title_text02 {
	font-size: 30px;
	color: #31352E;
	font-family: Arial;
}

span.skill_text01 {
	font-size: 70px;
	color: #ECF87E;
	font-family: Arial;
	font-weight: bold;
}

span.skill_text02 {
	font-size: 40px;
	color: #59981A;
	font-family: Arial;
	font-weight: bold;
}

td.skill_box {
	background-color: #3D550C;
}

td.image_box {
	background-color: #ECF87F;
}
